@import '../../styles/variables.scss';

.cell-wrap {
  border: 1px solid $tableColor;
  padding: 3px;
  text-align: center;
  flex-grow: 1;  
  &_first-cell-in-line{
    border-left: none;
  }
}

.cell{
  min-height: 56px;
  cursor: pointer;
  &_noted{
    background-color: $primaryColorLight;
  }
  &:hover, &:focus{
    background-color: $primaryColorDark;
    outline: none;
  }
  &_active{
    //background-color: $primaryColorDark;
    background-color: $secondaryColorDark;
  }
}


