@import '../../styles/variables.scss';

.header {
  font-size: calc(15px + 2vmin);
  color: black;
  background-color: $backgroundMain;
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 1rem;
  @media screen and (max-width: 550px) {
    font-size: calc(10px + 2vmin);
  }

  &__top{
    display: flex;
    justify-content: space-between;
  }
  &__title{
    font-size: 33px;
    font-weight: 400;
    background-color: $backgroundMain;
    margin: 0;
    padding: 2.7rem 2rem;
    cursor: default;
  }
  &__add-event{
    font-size: 55px;
    color: $secondaryColor;
    background-color: inherit;
    border: none;
    cursor: pointer;
    margin-right: 2.7rem;
    &:hover,&:focus{
      outline: none;
      color: $secondaryColorDark;
    }
  }
  &__calendar{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 4.7rem;
    padding-right: 1.5rem;
    background-color: $backgroundSecondary;
    border-top: 1px solid $tableColor;
    border-bottom: 1px solid $tableColor;
  }
  &__days-of-week{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;
  }
  &__days{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.9rem;
  }
  &__day-wrap{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__day{
    padding: 0.5rem;
    cursor: pointer;
    &:hover, &:focus{
      border-radius: 50%;
      background-color: $secondaryColorDark;
      color: $backgroundMain;
      outline: none;
    }
    
    &_today{
      color: white;
      background-color: $secondaryColor;
      border-radius: 50%;
    }
  }
  &__day-of-week{
    font-size: 0.65em;
    width: 2rem;
    padding: 0.5rem;
    text-align: center;
    height: auto;
    cursor: default;
  }
  &__month-selection{
    display:flex;
    justify-content: space-between;
    cursor: default;
    padding: 0 0.5rem 0.4rem 0.5rem;
  }
  &__month-change-btn{
    border: none;
    background-color: $backgroundSecondary;
    &:focus {
      outline: none;
    }
    &:focus *{
      fill: $secondaryColorDark;
    }
  }
  &__arrow-svg{
    fill: $secondaryColor;
    cursor: pointer;
    &:hover, &:focus{
      fill: $secondaryColorDark;
    }
  }
}



