$primaryColorLight: #ebecff;
$primaryColorDark: #b3b7ff;
$secondaryColor: #ff3131;
$secondaryColorDark:#7e1d1d;
$tableColor: #ebebeb;
$timeColor: #c0c0c0;
$backgroundMain: #ffffff;
$backgroundSecondary: #f6f6f6;